.form {
    margin-top: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.form button {
    margin-top: 15px;
    padding: 5px;
    font-weight: normal;
    font-size: 1rem;

    border: 1px solid var(--primary-color);
    background-color: var(--green-color);

    cursor: pointer;
}

.form button:hover {
    filter: brightness(1.2);
}

.input_estado {
    display: flex;
    flex-direction: column;
}

.input_estado label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.input_estado select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box;
}

.stock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.stock button {
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 5px;
}