.novedades__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.novedad_container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    /* overflow: hidden; */
}

.novedad__img_container {
    position: relative;
    width: 300px;
    height: 400px;
}

.novedad__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.novedad__img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.novedad__codigo {
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: fit-content;
    /* border-radius: 5px; */
    /* margin-top: 10px; */
    /* margin-left: 10px; */
}

.novedad__btnAgregar {
    padding: 10px 15px;
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    max-width: 250px;
    height: 39px;
    transition: background-color 0.2s;
}

.novedad__btnAgregar span {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.novedad__btnAgregar:hover {
    background-color: #3e8e41;
}

.modal_novedad_encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    gap: 50px;
    min-width: 500px;
}

.modal_novedad_encabezado button{
    padding: 5px 10px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.modal_novedad_encabezado button:hover {
    background-color: #3e8e41;
}

.modal_novedad_info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

.modal_novedad_info span {
    font-weight: 300;
    font-size: 0.9rem;
}


.modal_novedad_body table {
    width: 100%;
    border-collapse: collapse;
}

.modal_novedad_body th,
.modal_novedad_body td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.modal_novedad_body th {
    background-color: #f0f0f0;
}

.modal_novedad_body td {
    background-color: #fff;
}

.modal_novedad_body tr:nth-child(even) {
    background-color: #f9f9f9;
}

input[type="checkbox"]{
        width: 1rem;
        height: 1rem;
}