.listado {
    margin-top: 20px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-bottom: none;
}

.toolbar .nuevo,
.toolbar button {
    background-color: var(--seconday_color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toolbar .nuevo:hover {
    background-color: var(--primary-color);
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.tabla__encabezado {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.columna_acciones {
    width: 200px;
}

.tabla__cuerpo {
    border-bottom: 1px solid #ddd;
}

.tabla__fila {
    border-top: 1px solid #ddd;
}

.tabla__fila:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla th,
.tabla td {
    padding: 8px;
    text-align: left;
}

.tabla th {
    font-weight: bold;
}

.celdaAcciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btnAccion {
    background-color: transparent;
    color: var(--dark-color);
    font-size: 1.3rem;
}

.btnAccion:nth-child(1):hover {
    color: green;
}

.btnAccion:nth-child(2):hover {
    color: cadetblue;
}

.btnAccion:nth-child(3):hover {
    color: crimson;
}

.crearCatalogo {
    width: 300px;
}

.crearCatalogo h3 {
    margin-bottom: 15px;
}

.actionButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.btnAceptar, .btnCancelar {
    border: 1px solid gray;
    background-color: gray;
    transition: 0.1s all ease-in-out;
}

.btnAceptar:hover, .btnCancelar:hover {
    background-color: var(--white-color);
}

.btnAceptar:hover {
    color: #3e8e41;
    border: 1px solid #3e8e41;
}

.btnCancelar:hover {
    color: red;
    border: 1px solid red;
}
