.listado {
    margin-top: 20px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-bottom: none;
}

.toolbar .nuevo,
.toolbar button {
    background-color: var(--seconday_color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    transition: 0.1s all ease-in-out;
}

.toolbar .btnNuevos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.toolbar .nuevo {
    text-decoration: none;
}

.toolbar .nuevo:hover {
    background-color: var(--primary-color);
}

.toolbar button:hover {
    background-color: #3e8e41;
}

.toolbar__filtro__container {
    display: flex;
    align-items: center;
}

.toolbar__filtro__container input,
.toolbar__filtro__container select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.toolbar__filtro__container button {
    background-color: var(--seconday_color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.toolbar__filtro__container button:hover {
    background-color: #3e8e41;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.tabla__encabezado {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.tabla__cuerpo {
    border-bottom: 1px solid #ddd;
}

.tabla__fila {
    border-top: 1px solid #ddd;
}

.tabla__fila:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla th,
.tabla td {
    padding: 8px;
    text-align: left;
}

.tabla th {
    font-weight: bold;
}

.icono_detalles {
    color: var(--dark-color);
}

.icono_detalles:hover {
    color: var(--seconday_color);
}

.tabla__modal {
    max-height: 400px;
    overflow-y: auto;
    display: block;
}

.import__container {
    width: 750px;
}

.importar__buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

input[type="file"]::file-selector-button {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--seconday_color);
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--white-color);
    border: 1px solid #3e8e41;
    color: #3e8e41;
}

.btnImportarUsuarios,
.btnCancelarImportarUsuarios,
.btnAceptar {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: 0.1s all ease-in-out;
}

.btnImportarUsuarios:hover,
.btnCancelarImportarUsuarios:hover,
.btnAceptar:hover {
    background-color: var(--white-color);
}

.btnImportarUsuarios:hover {
    color: #3e8e41;
    border: 1px solid #3e8e41;
}

.btnCancelarImportarUsuarios:hover {
    color: red;
    border: 1px solid red;
}

.errores__container {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.errores__container ul {
    margin-top: 10px;
}

.errores__container li {
    padding: 5px 0;
}

.errores__container .btnContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.errores__container .btnAceptar:hover {
    color: blue;
    border: 1px solid blue;
}