.listview {
    width: 100%;
}

.listview__encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.listview__encabezado span {
    font-weight: bold;
    font-size: 1.2rem;
}

.listview__encabezado button {
    padding: 5px;
}

.listview table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.listview table thead {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.listview .columna_accion {
    width: 75px;
}

.listview table tbody {
    border-bottom: 1px solid #ddd;
}

.listview table tr {
    border-top: 1px solid #ddd;
}

.listview th,
.listview td {
    padding: 8px;
    text-align: left;
}

.listview th {
    font-weight: bold;
}